<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon favorite-icon" (click)="goHome()" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Weather App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="goAddCity()" aria-label="Example icon-button with share icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>